# Enable URL rewriting
RewriteEngine On

# Redirect /index to /
RewriteCond %{THE_REQUEST} /index(\.html)? [NC]
RewriteRule ^index(\.html)?$ / [L,R=301]

# Rule to remove .html extension from URL and redirect to clean URL
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.html [NC]
RewriteRule ^ %1 [R=301,L]

# Internally rewrite the request to serve .html files without showing .html in the URL
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^/]+)/?$ $1.html [L]
