.sections {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}

.section {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hover-container {
    position: relative;
    display: inline-block;
    max-width: 525px;
    line-height: 0;
}

.hover-container img {
    max-width: 525px;
    border-radius: 12px;
    line-height: 0;
}

.hover-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
    width: 100%;
}

.overlay-content .title {
    color: white;
    font-size: 28px;
    width: 100%;
    font-family: "Spartan";
    font-weight: 400;
    margin-bottom: 70px;
}

.overlay-content .sub-title {
    color: white;
    font-size: 16px;
    font-family: "Spartan";
}

.title {
    font-size: 28px;
    margin: 0;
}

.subtitle {
    font-size: 18px;
    margin-top: 10px;
}

.hover-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 1, 18, 0.6); /* semi-transparent layer */
    transition: opacity 0.3s ease;
    opacity: 0;
    border-radius: 12px;
    cursor: pointer;
}

.hover-container:hover::after,
.hover-container:hover .overlay-content {
    opacity: 1;
    color: white;
}
