.project-page {
    width: 100%;
    padding: 0 100px;
}

.project-page .project-title {
    margin-top: 80px;
    font-size: var(--title-size);
    z-index: 2;
    font-family: "Kalam";
}

.image-row{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.images-2-row{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.images-2-row.even img{
    max-width: 49%;
}
.project-page .info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.project-page .info .column {
    max-width: 50%;
}

.project-page .info .column .title{
    font-size: var(--sub-title);
    font-weight: var(--title-weight);
}

.project-page .info .column .text{
    margin-top: 10px;
    color: var(--light-green);
}

.project-page .info .column.description{
    color: var(--light-green);
}

.project-page .info .column + .column{
    margin-left: 30px;
}

.navigation-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.navigation-buttons a {
    padding: 10px;
    background-color: var(--white-background);
    border-radius: 12px;
    text-decoration: none;
    color: black;
}

.project-page .card-component {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.project-page .card-component .design-details .detail {
    display: inline-flex;
}

.project-page .card-component .design-details .detail .list {
    display: inline-flex;
}

.project-page .card-component .design-details .detail .color .sample {
    width: 100px;
    height: 100px;
}

.project-page .card-component .design-details .detail .color .sample.hash-000000 {
    background-color: #000000;
}

.project-page .card-component .design-details .detail .color .sample.hash-FFD140 {
    background-color: #FFD140;
}

/* .design-details .detail .title{

} */

/* .design-details .detail .list.color{

} */

/* .sample
.name */
