.project-page {
    width: 100%;
    padding: 0 100px;
}

.project-page .project-title {
    margin-top: 80px;
    font-size: var(--title-size);
    z-index: 2;
    font-family: "Kalam";
}

.project-page .info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.project-page .info .column {
    max-width: 50%;
}

.project-page .info .column .title{
    font-size: var(--sub-title);
    font-weight: var(--title-weight);
}

.project-page .info .column .text{
    margin-top: 10px;
    color: var(--light-green);
}

.project-page .info .column.description{
    color: var(--light-green);
}

.project-page .info .column + .column{
    margin-left: 30px;
}

.navigation-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.navigation-buttons a {
    padding: 10px;
    background-color: var(--white-background);
    border-radius: 12px;
    text-decoration: none;
    color: black;
}
